{% set id_accordion = 'accordion-' ~ random() %}
<div id="{{ id_accordion }}" data-accordion="collapse">
  {% for item in items %}
    {% set id_heading = id_accordion ~ '-' ~ loop.index ~ '-heading' %}
    {% set id_body = id_accordion ~ '-' ~ loop.index ~ '-body' %}
    <h2 id="{{ id_heading }}">
      <button type="button" class="{{ loop.first ? 'rounded-t-xl' : '' }} {{ loop.last ? '' : 'border-b-0' }} flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#{{ id_body }}" aria-expanded="true" aria-controls="{{ id_body }}">
        <span>{{ item.title }}</span>
        <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="{{ id_body }}" class="hidden" aria-labelledby="{{ id_heading }}">
      <div class="{{ loop.last ? 'border-t-0' : 'border-b-0' }} p-5 border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        {{ item.content }}
      </div>
    </div>
  {% endfor %}
</div>
