{#
/**
 * @file
 * Theme override to display a two-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{% set grid_variants  = {
    '50-50': 'md:grid-cols-[50%_50%]',
    '75-25': 'md:grid-cols-[75%_25%]',
    '25-75': 'md:grid-cols-[25%_75%]',
    '33-67': 'md:grid-cols-[33%_67%]',
    '67-33': 'md:grid-cols-[67%_33%]',
} %}

{% if content %}
    <div class="grid gap-4 {{ grid_variants[settings.column_widths] }}">
        {% if content.first %}
            <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
                {{ content.first }}
            </div>
        {% endif %}

        {% if content.second %}
            <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
                {{ content.second }}
            </div>
        {% endif %}
    </div>
{% endif %}
